@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(226, 43%, 10%)
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-container{
    display: flex;
    border: 2px solid orange;
    width: 80%;
}

.user-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: hsl(235, 46%, 20%);
    border-radius: 1em;
}

.hours-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 70%;
    margin-left: 25px; 
    border: 2px solid red;
}

.user-top img {
    width: 75px;
    height: auto;
    border: 2px solid white;
    border-radius: 2.5em;
    margin-bottom: 2em;
    margin-top: 1em;
}

.user-top p {
    font-size: 12px;
    font-weight: 400;
    color: #c3c3c3;
}

.user-box h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 300;
}

.user-box h1 span{
    display: block;
}

.user-top {
    display: flex;
    flex-direction: column;
    background-color: hsl(246, 80%, 60%);
    padding: 2em;
    border-radius: 1em;
    height: 70%;
}

.user-bot {
    padding: 2em;
    height: 30%;
}

.user-bot p {
    font-size: 16px;
    display: table;
    color: #c3c3c3;
    margin-bottom: 1em;
}



.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: .875em;
    width: calc(33.3% - 20px);
    height: calc(50% - 15px);
}

.imgcont {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: right;
    padding-right: 1.5em;
}

.textcont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 85%;
    width: 100%;
    background-color: #1d204b;
    color: #fff;
    padding: 2em;
    border-radius: .875em;
    z-index: 1;
}
.textcont h1{
    margin-top: 15px;
    width: 100%;
    font-size: 2.5em;
    font-weight: 300;
}

.textcont h2 {
    font-size: .875em;
}

.textcont p {
    font-weight: 300;
    font-size: .725em;
    color: #c3c3c3;
}

.imgcont img {
    object-fit: contain;
    width: auto;
    height: 50px;
}

.active {
    color: #fff !important;
}







/* Colors */
.orange {
    background: linear-gradient(to bottom, #ff8b64 50%, #1d204b 50%);
}

.blue {
    background: linear-gradient(to bottom, #56c2e6 50%, #1d204b 50%);
}

.pink {
    background: linear-gradient(to bottom, #ff5e7d 50%, #1d204b 50%);
}

.green {
    background: linear-gradient(to bottom,  #4bcf83 50%, #1d204b 50%);
}

.purple {
    background: linear-gradient(to bottom, #7235d2 50%, #1d204b 50%);
}

.yellow {
    background: linear-gradient(to bottom, #f1c75b 50%, #1d204b 50%);
}


/* Media Queries*/

@media (max-width: 480px) {
    .container {
        height: auto;
    }
    .card-container {
      flex-direction: column;
    }
    .user-box {
        width: 100%;
    }
    .hours-container{
        margin-left: 0;
        width: 100%;
        flex-flow:  column nowrap;
        border: 2px solid blue;
    }
    .box{
        width: 100%;
    }
  }

  @media (max-width: 768px) {
    .text {
      font-size: 16px;
    }
  }

  @media (max-width: 1024px) {
    .text {
      font-size: 16px;
    }
  }
